<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speakers</title>
    <link rel="stylesheet" type="text/css" href="../style.css"/>
</head>
<body>
<header class="primary-header container group">

    <section class="container">
      <h1  class="logo">
         <a href="/index">Styles  <br> Conference</a>
      </h1>
    </section>


    <h3 class="tagline">March 22&ndash;24th &mdash; Washington D.C</h3>

    <nav class="nav primary-nav">
        <ul>
            <li><a href="/index">Home</a></li><!--
                --> <li><a href="/speakers">Speakers</a></li><!--
                --><li><a href="/schedule">Schedule</a></li><!--
                --><li><a href="/venue">Venue</a></li><!--
            --><li><a href="/register">Register</a></li>
        </ul>
    </nav>

</header>

<section class="row-alt">
    <div class="lead container">
        <h1 >Speakers</h1>
        <p>We&#8217;re happy to welcome over twenty speakers to present on the industry&#8217;s latest technologies. Prepare for an inspirational extravaganza.</p>
    </div>
</section>

<section class="row">
    <div class="grid">
        <section class="speaker" id="josia-rodriguez">
            <div class="col-2-3">

                <h2>Josia Rodriguez</h2>
                <h5>Less Is More: How Constraints Cultivate Growth</h5>

                <p>By setting constraints, we force ourselves...</p>

                <h5>About Shay</h5>

                <p>As a designer and front-end developer, Shay...</p>

            </div><!--


            --><aside class="col-1-3">
            <div class="speaker-info">
                
                <img src="../lion.webp" alt="Josia">

                <ul>
                    <li><a href="https://twitter.com/josia_rodriguez">@josia_rodriguez</a></li>
                    <li><a href="http://www.josiarodriguez.com/">www.josiarodriguez.com</a></li>
                </ul>
            </div>
        </aside>
        </section>



        <section  id="michael-williams">
            <div class="col-2-3">

                <h2>Micahel Williams</h2>
                <h5>Less Is More: How Constraints Cultivate Growth</h5>

                <p>By setting constraints, we force ourselves...</p>

                <h5>About Shay</h5>

                <p>As a designer and front-end developer, Shay...</p>

            </div><!--


            --><aside class="col-1-3">
            <div class="speaker-info">

                <img src="pic.webp" alt="Michael">

                <ul>
                    <li><a href="https://twitter.com/michaelw">@michaelw</a></li>
                    <li><a href="http://www.josiarodriguez.com/">www.josiarodriguez.com</a></li>
                </ul>
            </div>
        </aside>
        </section>

    </div>
</section>

<footer class="primary-footer container group">
    <small>&copy; Styles Conference</small>
    <nav class="nav">
            <ul>
                <li><a href="/index">Home</a></li><!--
                --> <li><a href="/speakers">Speakers</a></li><!--
                --><li><a href="/schedule">Schedule</a></li><!--
                --><li><a href="/venue">Venue</a></li><!--
                --><li><a href="/register">Register</a></li>
            </ul>
      </nav>

</footer>

</body>
</html>