<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venue</title>
    <link rel="stylesheet" type="text/css" href="../style.css"/>
</head>
<body>
<header class="primary-header container group">
    <section class="container">
        <h1  class="logo">
            <a href="/index">Styles  <br> Conference</a>
        </h1>
    </section>
    <h3 class="tagline">March 22&ndash;24th &mdash; Washington D.C</h3>

    <nav class="nav primary-nav">
        <ul>
            <li><a href="/index">Home</a></li><!--
                --> <li><a href="/speakers">Speakers</a></li><!--
                --><li><a href="/schedule">Schedule</a></li><!--
                --><li><a href="/venue">Venue</a></li><!--
            --><li><a href="/register">Register</a></li>
        </ul>
    </nav>

</header>
<section class="row">
    <div class="grid">
        <section class="venue-theatre">

            <div class="col-1-3"></div><!--

            --><iframe class="col-2-3"></iframe>

        </section>

        <section class="venue-hotel">
            <div class="col-1-3"></div><!--

            --><iframe class="col-2-3"></iframe>

        </section>
    </div>

</section>




<footer class="primary-footer container group">
    <small>&copy; Styles Conference</small>
    <nav class="nav">
        <ul>
            <li><a href="/index">Home</a></li><!--
                --> <li><a href="/speakers">Speakers</a></li><!--
                --><li><a href="/schedule">Schedule</a></li><!--
                --><li><a href="/venue">Venue</a></li><!--
            --><li><a href="/register">Register</a></li>
        </ul>
    </nav>

</footer>
</body>
</html>